* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-red: #E3646E;
  --principal-purple: #BB72E9;
  --principal-blue: #3996DB;
  --principal-green: #82BC4F;
  --principal-yellow: #EABD5F;

  --base-gray-100: #0D0E11;
  --base-gray-200: #16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0C4CE;
  --base-gray-600: #E2E4E9;

  /* Font Families */
  --font-family-asap: 'Asap', sans-serif;
  --font-family-inconsolata: 'Inconsolata', monospace;
  --font-family-mavenpro: 'Maven Pro', sans-serif;

  /* Font Styles */
  --asap-title-lg: 700 56px/120% var(--font-family-asap);
  --asap-title-md: 700 24px/120% var(--font-family-asap);
  --asap-title-sm: 700 16px/120% var(--font-family-asap);
  --inconsolata-subtitle: 400 20px/120% var(--font-family-inconsolata);
  --mavenpro-text-md: 400 16px/140% var(--font-family-mavenpro);
  --mavenpro-text-sm: 400 14px/140% var(--font-family-mavenpro);
  --mavenpro-link: 500 16px/140% var(--font-family-mavenpro);

  --heading-1: var(--asap-title-lg);
  --heading-2: var(--asap-title-md);
  --heading-3: var(--asap-title-sm);
  --subtitle: var(--inconsolata-subtitle);
  --text-md: var(--mavenpro-text-md);
  --text-sm: var(--mavenpro-text-sm);
}

h1, h2, h3 {
  color: var(--base-gray-600);
}

a {
  text-decoration: none;
  font: var(--mavenpro-link);
  color: var(--base-gray-500);
}

.container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  
  background-color: var(--base-gray-200);
  
  align-items: center;
  margin: auto;
  max-width: 1040px;
}